.jackpotHeader{
  color:red;
}

.lotteryHeader{
    color:orange;
}

.jackpotHeader2{
  color:orange;
}

.lotteryHeader2{
    color:red;
}

.inputCol1{
    font-size:50px;
}

img{
    height:100px;
    width:400px;

}

.inputSpacerRow{
    height:3px;
}

input{
    height:98%;
    width:100%;
    font-size:150px;
    text-align:center;
    background-color: dimgray;
}

body{
background-color:black;
}

.functionContainer{
    border:3px solid black;
    border-radius:10px;
}

.functionRow{
    border:3px solid gray;
    height:350px;
    border-radius:10px;
}

.functionCol{
    border:3px solid dimgray;
    height:350px;
    border-radius:10px;
}

.startBtn{
background-color:limegreen;
font-weight:bolder;
}

.checkBtn{
background-color:orange;
font-weight:bolder;
}

.retryBtn{
background-color:limegreen;
height:40px;
font-weight:bolder;
}

button{
border-radius:7px;
border:2px solid dimgray;
}

.playContainer{
    border:3px solid dimgray;
    height:350px;
}