      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image:url("http://www.psdgraphics.com/file/world-map-background.jpg");
        background-repeat:no-repeat;
        background-size:cover;
      }
      #map {
        height: 60%;
        
       
      }
    